.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vw;
}



.line {
  width: 40%;
  position: relative;
  left: 35px;
  z-index: 10;
}

.line hr {
  border-top: 1px solid #fff;
  opacity: 0.25;
}

@media screen and (max-width: 1200px) {
  .line {
    display: none;
  }
}


