.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vh;
  padding-left: 5vw;
}

.line {
  width: 40%;
  position: relative;
  left: 35px;
  z-index: 10;
}

.line hr {
  border-top: 1px solid #fff;
  opacity: 0.25;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.menu {
  width: 70vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(41px);
  animation: 0.1s ease-in-out showMenu;
}

.menu ul {
  position: relative;
  top: 130px;
}

.menu ul li {
  list-style-type: none;
  margin: 25px 0;
}

.menu ul li a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .line {
    display: none;
  }
}

@media screen and (max-width: 572px) {
  .header {
    padding-right: 5vw;
    padding-top: 5vh;
  }

  .header img {
    width: 28px;
    cursor: pointer;
    z-index: 100;
  }
}

@keyframes showMenu {
  from {
    width: 0vw;
  }
  to {
    width: 70vw;
  }
}
