.home {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 65vh;
  padding: 0 10vw;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 35%;
}

.content > * {
  margin: 10px 0;
}

.content p {
  color: #d0d6f9;
  font-weight: 400;
}

.content p:first-child {
  font-size: 28px;
  font-family: "Barlow Condensed";
}

.content h1 {
  font-size: 8em;
  font-family: "Bellefair";
  font-weight: normal;
  color: #fff;
}

.content p:last-child {
  font-size: 16px;
  font-family: "Barlow";
  line-height: 28px;
}

.explore {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.explore-btn {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  cursor: pointer;
  position: relative;
}

.bubble {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  opacity: 0.1;
}

.explore-btn:hover .bubble {
  background-color: #fff;
  mix-blend-mode: normal;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.explore-btn span {
  font-family: "Bellefair";
  font-size: 32px;
  z-index: 10;
  color: #0b0d17;
}

@media screen and (max-width: 1200px) {
  .home {
    height: auto;
    align-items: center;
    flex-direction: column;
    padding: 10vh 10vw;
  }

  .explore {
    width: 100%;
    justify-content: center;
    margin-top: 40%;
  }
  .bubble {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .content {
    width: 65%;
    text-align: center;
  }

  .content h1 {
    font-size: 165px;
  }

  .content p:last-child {
    font-size: 21px;
    line-height: 35px;
  }

  .explore-btn {
    width: 242px;
    height: 242px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .content {
    padding-top: 20%;
  }
  .content h1 {
    font-size: 140px;
  }

  .content p:last-child {
    font-size: 16px;
    line-height: 30px;
  }
}

@media screen and (max-width: 992px) {
  .home {
    margin-top: 5vh;
  }

  .content {
    width: 100%;
    align-items: center;
  }

  .content p:last-child {
    font-size: 18px;
  }

  .content p:last-child {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .home {
    padding: 6vh 10vw;
  }

  .content h1 {
    font-size: 75px;
  }

  .content p:first-child {
    font-size: 18px;
  }

  .content p:last-child {
    font-size: 13px;
    line-height: 25px;
  }

  .explore-btn {
    width: 180px;
    height: 180px;
  }
}
