.technology {
  display: flex;
  padding-top: 15vh;
  padding-left: 12vw;
  padding-bottom: 15vh;
  flex-direction: column;
}

.slide {
  width: 80px;
  font-family: "Bellefair", sans-serif;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: #fff;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #ffff;
  cursor: pointer;
  margin: 30px 0;
}

.caurosel .active {
  background-color: #fff;
  color: #000;
}

.technology h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}

.technology h2 b {
  color: gray;
  margin-right: 10px;
}

.container {
  display: flex;
  align-items: center;
}

.technology-description {
  display: flex;
  flex-direction: column;
  padding: 0 8vw;
}

.technology-description > * {
  margin: 5px 0;
}

.technology-description p:first-child {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  color: grey;
}

.technology-description h1 {
  font-family: "Bellefair", sans-serif;
  font-size: 54px;
  color: #fff;
  font-weight: normal;
}

.technology-description p:last-child {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: grey;
  line-height: 32px;
}

@media screen and (max-width: 1200px) {
  .technology {
    padding-top: 0;
    padding-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .technology h2 {
    margin: 5vh 5vw;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .img {
    width: 100%;
    order: 0;
  }

  .img img {
    width: 100%;
  }

  .caurosel {
    display: flex;
    order: 1;
  }
  .caurosel .slide {
    margin: 3rem 1rem;
  }
  .technology-description {
    order: 2;
    align-items: center;
  }
  .technology-description > p {
    text-align: center;
    width: 100%;
  }
  .slide {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 552px) {
  .technology-description p:first-child {
    font-size: 16px;
  }

  .technology-description h1 {
    font-size: 32px;
  }

  .technology-description p:last-child {
    font-size: 18px;
  }
}


@media screen and (max-width: 360px) {
  .technology-description p:first-child {
    font-size: 14px;
  }

  .technology-description h1 {
    font-size: 24px;
  }

  .technology-description p:last-child {
    font-size: 15px;
  }

  .slide {
    width: 40px;
    height: 40px;
  }

}