.navbar {
  width: 55%;
  font-family: "Barlow Condensed";
  font-size: 16px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(41px);
  height: 96px;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  padding-bottom: 35px;
  text-decoration: none;
  color: #fff;
}

.navbar ul li a:hover {
  height: 100%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.navbar ul li a.active {
  height: 100%;
  border-bottom: 3px solid #fff;
}

.navbar ul li a span {
  margin-left: 7px;
}

@media screen and (max-width: 1200px) {
  .navbar ul li a b {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    height: auto;
    backdrop-filter: none;
    background-color: transparent;
  }
  .navbar ul {
    flex-direction: column;
  }
  .navbar ul li a b {
    display: inline-block;
  }
  .navbar ul li a.active {
    border: none;
  }

  .navbar ul li a:hover {
    height: 100%;
    border: none;
  }

}
