.destination {
  padding-top: 15vh;
  padding-left: 12vw;
  padding-right: 12vw;
  padding-bottom: 5vh;
  display: flex;
  justify-content: space-between;
}

.destination h2 b {
  color: gray;
  margin-right: 10px;
}

.destination-image {
  width: 445px;
  height: 445px;
}

.pick-destination h2 {
  font-size: 32px;
  font-family: "Barlow Condensed", sans-serif;
  color: antiquewhite;
  font-weight: 300;
}

.pick-destination img {
  margin-top: 120px;
}

.content-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20%;
}

.content-description ul {
  display: flex;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 21px;
}
.content-description ul li {
  list-style-type: none;
  cursor: pointer;
  height: 45px;
}

.content-description ul > li.active {
  border-bottom: 3px solid #fff;
}

.content-description ul li:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.content-description ul li:not(:first-child) {
  margin-left: 3em;
}

.content-description h1 {
  font-size: 100px;
  font-family: "Bellefair", sans-serif;
  color: #fff;
  font-weight: 400;
}

.content-description p {
  font-size: 18px;
  font-family: "Barlow", serif;
  color: #d0d6f9;
  line-height: 32px;
  font-weight: 400;
}

.content-description hr {
  border-top: 2px solid #383b4b;
  border-bottom: transparent;
}

.destination-travel-info {
  display: flex;
}

.destination-travel-info > div {
  display: flex;
  flex-direction: column;
}

.destination-travel-info > div p:first-child {
  font-size: 14px;
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
}

.destination-travel-info > div p:last-child {
  font-size: 28px;
  font-family: "Bellefair", sans-serif;
  color: #fff;
}

.destination-travel-info .travel {
  margin-left: 3rem;
}

@media screen and (max-width: 1110px) {
  .destination {
    flex-direction: column;
    padding: 10vh 5vw;
  }

  .pick-destination {
    display: flex;
    flex-direction: column;
  }

  .pick-destination img {
    width: 400px;
    height: 400px;
    align-self: center;
  }

  .content-description {
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 5vh;
  }

  .content-description > * {
    margin: 15px 0;
  }

  .content-descriptionh1 {
    font-size: 5em;
  }

  .content-description p {
    text-align: center;
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  content-descriptionp {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .content-description {
    margin-top: 8vh;
  }
  .content-description h1 {
    font-size: 4em;
  }

  .pick-destination h2 {
    font-size: 21px;
    text-align: center;
  }

  .pick-destination img {
    width: 200px;
    height: 200px;
  }

  .content-description {
    margin: 0 10px;
  }

  .content-description ul {
    font-size: 16px;
    z-index: 49;
  }

  .content-description p {
    font-size: 14px;
  }

  .content-description ul li:not(:first-child) {
    margin-left: 2rem;
  }

  .destination-travel-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .destination-travel-info > * {
    margin: 15px 0;
  }

  .destination-travel-info .travel {
    margin-left: 0;
  }
}
