.crew {
  display: flex;
  padding-top: 20vh;
  padding-left: 12vw;
  padding-right: 5vw;
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: showSlideInfo 0.7s ease-in forwards;
}

.member-bio > * {
  margin: 30px 0;
}

.member-info h2 {
  font-size: 32px;
  font-family: "Barlow Condensed", sans-serif;
  color: antiquewhite;
  font-weight: 300;
}

.member-info h2 b {
  color: #979797;
  margin-right: 10px;
}

.member-bio .role {
  color: #979797;
  font-size: 32px;
  font-family: "Bellefair", sans-serif;
}

.member-bio .name {
  font-family: "Bellefair", sans-serif;
  font-size: 52px;
  font-style: normal;
  color: #fff;
  font-weight: normal;
  font-variant: normal;
}

.member-bio .bio {
  width: 75%;
  color: #979797;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.caurosel {
  display: flex;
  flex-direction: row;
}

.crew-member-img img {
  animation: showSlideImage ease-in-out 2s;
}

.caurosel .slide {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #403e3e;
}

.caurosel .slide:first-child {
  margin-right: 15px;
}

.caurosel .slide:not(:first-child) {
  margin: 0 15px;
}

.caurosel .slide:hover {
  cursor: pointer;
  background-color: #979797;
}

.caurosel .active-slide {
  background-color: #fff;
}

.crew-member-img {
  animation: ease-in 1s forwards showSlideImage;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .crew {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
  }
  .member-info {
    text-align: center;
    align-items: center;
  }
  .member-info h2 {
    align-self: flex-start;
    font-size: 20px;
  }
  .member-bio {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
  }
  .member-bio .bio {
    width: 100%;
  }
  .crew-member-img {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {  
 
  .crew-member-img {
    border-bottom: 1px solid #fff;
  }
  .crew-member-img img {
    width: 177px;
    height: 222px;
  }
}

@keyframes showSlideInfo {
  from {
    display: block;
    padding-bottom: 0;
    opacity: 0;
  }
  to {
    display: flex;
    flex-direction: column;
    padding-bottom: 15vh;
    justify-content: space-between;
    opacity: 1;
  }
}

@keyframes showSlideImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
